<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>猪猪微答客服聊天</title>
	<link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/initialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/toaster.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="css/lib/emoji.css">
	<link rel="stylesheet" type="text/css" href="css/micro-chat.css">

	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-contenteditable.js"></script>
	<script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/lib/toaster.min.js"></script>
	<script type="text/javascript" src="js/lib/sweet-alert.min.js"></script>
	<script type="text/javascript" src="js/lib/SweetAlert.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-lazy-img.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/lib/scrollglue.js"></script>
	<script type="text/javascript" src="js/lib/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="js/lib/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="js/lib/Notification.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-web-notification.js"></script>

	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=5a544ab16a76621a77ddb0e447847165&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>

</head>
<body style="margin: 20px;">
<div ng-controller="CtlChat" class="wrapper" ng-click="initEmojiActive()">


	<div class="chat-wrapper">
		<!-- 左侧栏 -->
		<div class="chat-bar left-bar">
			<ul class="user-list">
				<!-- 搜索框和添加用户按钮 -->
				<li class="left-tool-bar">
					<input class="filter-tool" ng-model="searchNick" type="text">
					<span ng-click="showLoginDialog()" class="user-add">+</span>
				</li>
				<!--客服账号列表-->
                    <li class="user-item" ng-repeat="user in users | filter:{nick:searchNick} track by $index" ng-class="{true : 'user-active'}[user.uid==uiVar.userActive]" ng-click="userClick(user.uid)">
					<div class="avatar-badge"><img class="user-avatar" ng-src=" {{user.avatar}} "><i ng-show="uiVar.userBadge[user.uid]['value']" class="badge" aria-hidden="true"></i></div> <!-- 头像 -->
					<span class="user-nick"> {{user.nick}} </span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="userLogout(user.uid)"></i>
				</li>
			</ul>
		</div>

		<!-- 聊天窗口 -->
		<div class="chat-box">
			<!-- 标题栏 -->
			<div class="chat-title">
				<img class="target-user-avatar" ng-src=" {{touser.avatar}} ">
				<div class="inner-chat-title">
					<span class="target-user-nick"> {{touser.nick}} <br> <span class="target-user-address">(地址: {{touser.address}})</span> </span>
					<span class="que-content" ng-if="touser.contentType==contentType.TYPE_TEXT" ng-bind-html="deliberatelyTrustDangerousSnippet(touser.content)"></span>
					<div class="que-voice" ng-if="touser.contentType==contentType.TYPE_AUDIO" ng-click="playQAudio()">
                        <audio class="qAudio">
                            <source ng-src="{{touser.content | trustUrl}}">
                        </audio>
						<i class="fa fa-volume-up" aria-hidden="true" ></i>
					</div>

				</div>
			</div>
			<!-- 聊天内容显示区域 -->
			<div id="chatMain" class="chat-main"  ng-class="{true : 'scrollVisible'}[scrollVisible==1]" scroll-glue="true" >
				<ul>
					<li ng-repeat="clog in chatlogInfo track by $index">
						<div class="chat-item" ng-class="{true : 'mine'}[clog.uid==uiVar.userActive]">
							<div class="avatar"><img ng-src=" {{clog.avatar}} "></div>
							<div class="item-wrapper" >
								<div class="top" >
									<span> {{clog.nick}} </span>
									<span> {{clog.addTime| date:'yyyy-MM-dd HH:mm:ss'}} </span>
								</div>
								<!--显示文字-->
								<div ng-if="clog.contentType==contentType.TYPE_TEXT" class="chat-text" ng-bind-html="deliberatelyTrustDangerousSnippet(clog.content)">
								</div>
								<!--显示图片-->
								<div ng-if="clog.contentType==contentType.TYPE_IMAGE" class="chat-text" >
									<img class="chat-image" ng-src="{{thumbnailImg(clog.content, contentType.TYPE_IMAGE)}}" ng-click="originalImg(clog.content, contentType.TYPE_IMAGE)" alt="">
								</div>
								<!--显示地图-->
								<div ng-if="clog.contentType==contentType.TYPE_MAP" class="chat-text chat-map" >
									<img class="chat-image" ng-src="{{thumbnailImg(clog.content, contentType.TYPE_MAP)}}" ng-click="originalImg(clog.content, contentType.TYPE_MAP)" alt="">
									<div class="map-address">{{mapAddress(clog.content)}}</div>
								</div>
								<!--显示商家-->
								<div ng-if="clog.contentType==contentType.TYPE_MERCHANT" class="chat-text chat-merchant">
									<a target="_blank" href="{{clog.content.url}}">
										<div class="mer-title">{{clog.content.merchantName}}</div>
										<div class="mer-details">
											<div class="cover-img">
												<img ng-src="{{clog.content.coverImage}}" alt="">
											</div>
											<div class="mer-info">
												<span>人均：{{clog.content.avgPrice}}元/人</span>
												<span>评分：{{clog.content.avgScore}}</span>
												<span>位置：{{clog.content.address}}</span>
											</div>
										</div>
									</a>
								</div>
								<!--显示快捷回复的回答-->
								<div ng-if="clog.contentType==contentType.TYPE_ANSWER" class="chat-text chat-answer">
									<a target="_blank" href="http://weida.products-test.zhuzhu.com/?_c=microWeb&_a=answerDetail&uid={{clog.toUserId}}&aid={{clog.content.aid}}">
										<div class="que-title" ng-bind-html="deliberatelyTrustDangerousSnippet(clog.content.title.content)"></div>
										<div class="que-details">
											<div class="avatar"><img ng-src="{{clog.content.toUserAvatar}}" alt=""></div>
											<div class="desc" ng-bind-html="deliberatelyTrustDangerousSnippet(clog.content.descTitle.descContent)"></div>
										</div>
									</a>
								</div>
								<!--显示快捷回复中的问题-->
								<div ng-if="clog.contentType==contentType.TYPE_QUESTION" class="chat-text chat-que">
									<a target="_blank" href="http://weida.products-test.zhuzhu.com/?_c=microWeb&_a=answerList&qid={{clog.content.qid}}&uid={{clog.toUserId}}&type={{clog.content.type}}">
										<div class="que-title" ng-bind-html="deliberatelyTrustDangerousSnippet(clog.content.title.content)"></div>
										<div class="ans-count">{{clog.content.desc}}</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 聊天工具栏显示区域 -->
			<div class="chat-tool">
				<i class="fa fa-smile-o fa-lg" aria-hidden="true" ng-class="{true : 'active'}[emojiActive==1]" ng-click="showEmojiBox($event)"></i>
				<label ngf-select="uploadImage($file)" class="fa fa-picture-o fa-lg" aria-hidden="true">
				</label>
				<i class="fa fa-handshake-o" aria-hidden="true" ng-click="addFriend()"></i>
				<i class="fa fa-heart-o" aria-hidden="true" ng-click="thankUser()" ng-show="checkAnswerEveluate(3)"></i>
				<i class="fa fa-thumbs-o-up" aria-hidden="true" ng-click="sendEvaluate()" ng-show="checkAnswerEveluate(2)"></i>
			</div>
			<div ng-model="userSend.content" class="chat-textarea" contenteditable="{{checkEditable()}}" ng-model="model"
				 select-non-editable="true" strip-br="true" ng-enter="sendMessage()">
			</div>
			<!-- 聊天框尾部 -->
			<div class="chat-footer">
				<button class="btn btn-send" ng-disabled="checkAnswerEveluate(1)" ng-click="sendMessage()">发送</button>
				<button class="btn btn-eva" ng-show="checkAnswerEveluate(1)" >提问者已采纳该回答</button>
			</div>
		</div>

		<!-- 右侧栏 -->
		<div class="chat-bar right-bar">
			<ul class="user-list">
				<!-- 搜索框和添加用户按钮 -->
				<li class="left-tool-bar">
					<input class="filter-tool" ng-model="searchTargetNick" type="text">
					<span ng-click="showQuestion()" class="user-add">？</span>
				</li>
				<li class="user-item user-active add-que" ng-hide="uiVar.userSendTimer[uiVar.userActive]"  ng-click="showAddQueDialog()">提问问题</li>
				<li class="user-item user-active add-que add-que-active" ng-show="uiVar.userSendTimer[uiVar.userActive]"  ng-click="showAddQueDialog()">等待回答{{uiVar.userSendTimer[uiVar.userActive]}}</li>
				<li class="user-item" ng-repeat="user in tousers|filter:{nick:searchTargetNick} track by $index" ng-class="{true : 'user-active'}[user.uid==uiVar.touserActive.uid&&user.qid==uiVar.touserActive.qid]"
					ng-click="touserClick(user.uid,user.nick, user.avatar,user.content,user.contentType,user.address,user.qid,user.askUserId)">
                    <div class="avatar-badge"><img class="user-avatar" ng-src=" {{user.avatar}} "><i ng-show="checkShowBadge(user.uid,user.qid)" class="badge" aria-hidden="true"></i></div> <!-- 头像 -->
					<span class="user-nick"> {{user.nick}} </span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="rmToUser(user.uid, user.qid, $event)"></i>
				</li>
			</ul>
		</div>

	</div>

	<!-- 问题栏 -->
	<div class="que-menu" ng-class="{true : 'active'}[uiVar.queActive==1]" scrolly="showMoreQue()">

		<ul class="que-list">
			<li>
				<div class="que-clear" ng-click="queClear()">
					<i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
					<span>清空问题</span>
				</div>
			</li>

			<li  ng-repeat="que in questionsInfo">
				<div class="que-wrapper">
					<div class="que-header">
						<div class="avatar">
							<img ng-src="{{que.userInfo.avatar}}" alt="">
						</div>
						<div class="info">
							<span class="nick">{{que.userInfo.nick}}</span>
							<span class="address">地址：{{que.address}}</span>
						</div>
					</div>
					<div class="que-content">
						<div class="content" ng-if="que.contentType==contentType.TYPE_TEXT" ng-bind-html="deliberatelyTrustDangerousSnippet(que.content)">
						</div>
						<div class="que-voice" ng-if="que.contentType==contentType.TYPE_AUDIO" ng-click="playQAudio()">
							<audio class="qAudio">
								<source ng-src="{{que.content | trustUrl}}">
							</audio>
							<i class="fa fa-volume-up" aria-hidden="true"></i>
						</div>
						<div class="counts">
							<span class="alert">回答客服人数: {{que.clientUsers}}</span>
							<span class="alert">回答用户人数: {{que.normalUsers}}</span>
							<span class="alert">提问时间: {{que.addTime}}</span>
						</div>
					</div>
					<div class="que-footer">
						<span class="btn btn-ignore" ng-click="queIgnore(que.qid)">忽略</span>
						<span class="btn btn-answer" ng-click="queAnswer(que.qid, que.userInfo.userId)">解答</span>
					</div>
				</div>
			</li>

			<li ng-show="uiVar.isLoading">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</li>
		</ul>

	</div>

	<!-- 登录弹出框 -->
	<div class="md md-effect" ng-class="{true : 'md-active'}[uiVar.loginDialogActive]">
		<div class="md-header">
			<i class="fa fa-times fa-lg" ng-click="showLoginDialog()" aria-hidden="true"></i>
		</div>
		<div class="md-content">
			<label for="user-phone">
				<span>手机号</span>
				<input ng-enter="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" ng-model="uiVar.loginParams.userPhone" id="user-phone" type="text" >
			</label>
			<label for="user-passwd">
				<span>密码</span>
				<input ng-enter="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" ng-model="uiVar.loginParams.userPasswd" id="user-passwd" type="password">
			</label>
		</div>
		<div class="md-footer">
			<span ng-click="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" class="btn btn-success">登录</span>
			<span class="wr_20"></span>
			<span ng-click="showLoginDialog()" class="btn btn-warning">取消</span>
		</div>
	</div>

	<!-- 发布问题弹出框 -->
	<div class="md md-que md-effect" ng-class="{true : 'md-active'}[uiVar.addQueDialogActive]">
		<div class="md-header">
			<input type="text" id="inputAddress" class="que-address-info">
			<i class="fa fa-times fa-lg" ng-click="showAddQueDialog()" aria-hidden="true"></i>
		</div>
		<div id="amap" class="amap md-content">
			<textarea class="que-content" ng-model="uiVar.queSend.content" placeholder="请输入问题内容……"></textarea>
		</div>
		<div class="md-footer">
			<span ng-click="queSend()" class="btn btn-success">发送问题</span>
			<span class="wr_20"></span>
			<span ng-click="showAddQueDialog()" class="btn btn-warning">取消</span>
		</div>
	</div>

	<div ng-click="showDialog()" class="md-overlay"></div><!-- the overlay element -->

	<!--toaster-->
	<toaster-container></toaster-container>

	<!--表情显示-->
	<div class="emoji-box" ng-show="emojiActive">
		<ul>
			<li class="emoji-item" ng-repeat="emj in emojis track by $index"
				ng-bind-html="deliberatelyTrustDangerousSnippet(emj.html)" ng-click="addEmojiToContent(emj.code,emj.html)"></li>
		</ul>
	</div>
</div>



</body>
<script type="text/javascript" src="js/emojiFactory.js"></script>
<script type="text/javascript" src="js/httpService.js"></script>
<script type="text/javascript" src="js/urlService.js"></script>
<script type="text/javascript" src="js/chatUtil.js"></script>
<script type="text/javascript" src="js/maConstants.js"></script>
<script type="text/javascript" src="js/wsService.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/dataService.js"></script>
<script type="text/javascript" src="js/mapService.js"></script>
<script type="text/javascript" src="js/microChat.js"></script>

</html>