<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>猪猪微答客服聊天</title>
	<link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/initialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/toaster.min.css">
	<link rel="stylesheet" type="text/css" href="css/lib/emoji.css">
	<link rel="stylesheet" type="text/css" href="css/micro-chat.css">

	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-contenteditable.js"></script>
	<script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/lib/toaster.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-lazy-img.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="js/lib/scrollglue.js"></script>
	<script type="text/javascript" src="js/lib/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="js/lib/ng-file-upload-shim.min.js"></script>

</head>
<body style="margin: 20px;">
<div ng-controller="CtlChat"  class="wrapper">
	

	<div class="chat-wrapper">
		<!-- 左侧栏 -->
		<div class="chat-bar left-bar">
			<ul class="user-list">
				<!-- 搜索框和添加用户按钮 -->
				<li class="left-tool-bar">
					<input class="filter-tool" ng-model="searchNick" type="text">
					<span ng-click="showLoginDialog()" class="user-add">+</span>
				</li>
				<!--客服账号列表-->
                    <li class="user-item" ng-repeat="user in users | filter:{nick:searchNick} track by $index" ng-class="{true : 'user-active'}[user.uid==uiVar.userActive]" ng-click="userClick(user.uid)">
					<img class="user-avatar" lazy-img=" {{user.avatar}} "> <!-- 头像 -->
					<span class="user-nick"> {{user.nick}} </span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="userLogout(user.uid)"></i>
				</li>
			</ul>
		</div>

		<!-- 聊天窗口 -->
		<div class="chat-box">
			<!-- 标题栏 -->
			<div class="chat-title">
				<img class="target-user-avatar" lazy-img=" {{touser.avatar}} ">
				<div class="inner-chat-title">
					<span class="target-user-nick"> {{touser.nick}} <br> <span class="target-user-address">(地址: {{touser.address}})</span> </span>
					<span class="que-content" ng-if="touser.contentType==contentType.TYPE_TEXT" ng-bind-html="deliberatelyTrustDangerousSnippet(touser.content)"></span>
					<div class="que-voice" ng-if="touser.contentType==contentType.TYPE_AUDIO" ng-click="playQAudio()">
                        <audio class="qAudio">
                            <source ng-src="{{touser.content | trustUrl}}">
                        </audio>
						<i class="fa fa-volume-up" aria-hidden="true"></i>
					</div>

				</div>
			</div>
			<!-- 聊天内容显示区域 -->
			<div id="chatMain" class="chat-main"  ng-class="{true : 'scrollVisible'}[scrollVisible==1]" scroll-glue >
				<ul>
					<li ng-repeat="clog in chatlogInfo track by $index">
						<div class="chat-item" ng-class="{true : 'mine'}[clog.uid==uiVar.userActive]">
							<div class="avatar"><img lazy-img=" {{clog.avatar}} "></div>
							<div class="item-wrapper" >
								<div class="top" > 
									<span> {{clog.nick}} </span> 
									<span> {{clog.addTime| date:'yyyy-MM-dd HH:mm:ss'}} </span>
								</div>
								<div class="chat-text">
									{{clog.content}} 
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- 聊天工具栏显示区域 -->
			<div class="chat-tool">
				<i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
				<label ngf-select="uploadImage($file)" class="fa fa-picture-o fa-lg" aria-hidden="true">
					<!--<input type="file"  id="chatImg" name="" style="display: none;">-->
				</label>
			</div>
			<div ng-model="userSend.content" class="chat-textarea" contenteditable="true" ng-model="model"  select-non-editable="true" ng-enter="sendMessage()">
			</div>
			<!-- 聊天框尾部 -->
			<div class="chat-footer">
				<span class="btn-send" ng-click="sendMessage()">发送</span>
			</div>
		</div>

		<!-- 右侧栏 -->
		<div class="chat-bar right-bar">
			<ul class="user-list">
				<!-- 搜索框和添加用户按钮 -->
				<li class="left-tool-bar">
					<input class="filter-tool" ng-model="searchTargetNick" type="text">
					<span ng-click="showQuestion()" class="user-add">？</span>
				</li>
				<li class="user-item" ng-repeat="user in tousers|filter:{nick:searchTargetNick} track by $index" ng-class="{true : 'user-active'}[user.uid==uiVar.touserActive.uid&&user.qid==uiVar.touserActive.qid]"
					ng-click="touserClick(user.uid,user.nick, user.avatar,user.content,user.contentType,user.address,user.qid)">
					<img class="user-avatar" lazy-img=" {{user.avatar}} "> <!-- 头像 -->
						<span class="user-nick"> {{user.nick}} </span>
					<i class="fa fa-times-circle fa-lg" aria-hidden="true" ng-click="rmToUser(user.uid, user.qid, $event)"></i>
				</li>
			</ul>
		</div>

	</div>

	<!-- 问题栏 -->
	<div class="que-menu" ng-class="{true : 'active'}[uiVar.queActive==1]" scrolly="showMoreQue()">

		<ul class="que-list">
			<li>
				<div class="que-clear" ng-click="queClear()">
					<i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
					<span>清空问题</span>
				</div>
			</li>

			<li  ng-repeat="que in questionsInfo">
				<div class="que-wrapper">
					<div class="que-header">
						<div class="avatar">
							<img ng-src="{{que.userInfo.avatar}}" alt="">
						</div>
						<div class="info">
							<span class="nick">{{que.userInfo.nick}}</span>
							<span class="address">地址：{{que.address}}</span>
						</div>
					</div>
					<div class="que-content">
						<div class="content" ng-if="que.contentType==contentType.TYPE_TEXT" ng-bind-html="deliberatelyTrustDangerousSnippet(que.content)">
						</div>
						<div class="que-voice" ng-if="que.contentType==contentType.TYPE_AUDIO" ng-click="playQAudio()">
							<audio class="qAudio">
								<source ng-src="{{que.content | trustUrl}}">
							</audio>
							<i class="fa fa-volume-up" aria-hidden="true"></i>
						</div>
						<div class="counts">
							<span class="alert">回答客服人数: {{que.clientUsers}}</span>
							<span class="alert">回答用户人数: {{que.normalUsers}}</span>
							<span class="alert">提问时间: {{que.addTime}}</span>
						</div>
					</div>
					<div class="que-footer">
						<span class="btn btn-ignore" ng-click="queIgnore(que.qid)">忽略</span>
						<span class="btn btn-answer" ng-click="queAnswer(que.qid, que.userInfo.userId)">解答</span>
					</div>
				</div>
			</li>

			<li ng-show="uiVar.isLoading">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</li>
		</ul>

	</div>

	<!-- 登录弹出框 -->
	<div class="md md-effect" ng-class="{true : 'md-active'}[uiVar.loginDialogActive]">
		<div class="md-header">
			<i class="fa fa-times fa-lg" ng-click="showDialog()" aria-hidden="true"></i>
		</div>
		<div class="md-content">
			<label for="user-phone">
				<span>手机号</span>
				<input ng-enter="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" ng-model="uiVar.loginParams.userPhone" id="user-phone" type="text" >
			</label>
			<label for="user-passwd">
				<span>密码</span>
				<input ng-enter="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" ng-model="uiVar.loginParams.userPasswd" id="user-passwd" type="password">
			</label>
		</div>
		<div class="md-footer">
			<span ng-click="doLogin(uiVar.loginParams.userPhone,uiVar.loginParams.userPasswd)" class="btn btn-success">登录</span>
			<span class="wr_20"></span>
			<span ng-click="showLoginDialog()" class="btn btn-warning">取消</span>
		</div>
	</div>
	<div ng-click="showLoginDialog()" class="md-overlay"></div><!-- the overlay element -->


	<!--toaster-->
	<toaster-container></toaster-container>
</div>



</body>
<script type="text/javascript" src="js/httpService.js"></script>
<script type="text/javascript" src="js/urlService.js"></script>
<script type="text/javascript" src="js/chatUtil.js"></script>
<script type="text/javascript" src="js/maConstants.js"></script>
<script type="text/javascript" src="js/wsService.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/dataService.js"></script>
<script type="text/javascript" src="js/microChat.js"></script>

</html>